In [1]:
import requests
import pandas as pd
import numpy as np
import os
import time
import datetime
import json
from bs4 import BeautifulSoup

In [9]:
data_set = pd.read_csv("data/data_set.csv",index_col=0)

In [3]:
data_set

,movieCd,movieNm,star_score,star_user_count,director,openDt,prdtYear,repNationNm,repGenreNm,showTm,...,d6_show,d7_show,d1_seat,d2_seat,d3_seat,d4_seat,d5_seat,d6_seat,d7_seat,audience
0,20030371,태극기 휘날리며,9.62,77,강제규,20040205,2004,한국,전쟁,148,...,43.7,42.6,64.4,77.1,93.6,95.6,66.3,61.5,61.2,11746135
1,20040555,트로이,9.19,21,볼프강 페터젠,20040521,2004,미국,사극,136,...,30.0,24.7,59.4,80.2,80.5,42.2,50.6,82.3,33.0,3851000
2,20040673,내 머리 속의 지우개,8.00,36,이재한,20041105,2004,한국,멜로/로맨스,117,...,22.7,22.6,38.6,60.4,57.3,25.0,25.1,22.5,27.6,2565078
3,20040649,귀신이 산다,8.80,10,김상진,20040917,2004,한국,코미디,123,...,20.3,19.0,33.7,61.4,61.0,20.2,19.7,18.5,17.7,2890000
4,20159748,투모로우랜드,8.98,136,브래드 버드,20150527,2014,미국,액션,130,...,11.4,10.9,12.8,6.3,8.4,21.9,20.0,4.8,4.0,265744
5,20148807,엣지 오브 투모로우,9.22,366,더그 라이만,20140604,2014,미국,액션,113,...,26.8,27.0,50.4,31.8,54.9,50.1,43.8,13.9,12.6,4699208
6,20040628,우리 형,8.31,14,안권태,20041008,2004,한국,드라마,112,...,26.6,25.8,40.3,59.0,57.2,23.2,24.9,23.9,21.4,2479585
7,20040598,해리포터와 아즈카반의 죄수,8.83,48,알폰소 쿠아론,20040716,2004,미국,드라마,136,...,23.5,20.5,48.5,85.8,73.0,27.1,25.7,24.9,24.0,2532000
8,20040566,슈렉2,7.35,17,켈리 애스버리,20040618,2004,미국,애니메이션,92,...,25.2,23.4,32.9,55.5,58.6,23.3,21.7,20.6,20.6,3300533
9,20030410,실미도,7.68,29,강우석,20031224,2003,한국,전쟁,135,...,27.3,24.5,78.1,80.6,65.2,71.7,76.1,59.4,62.5,11081000
10,20135661,어메이징 스파이더맨 2,9.03,697,마크 웹,20140423,2014,미국,액션,142,...,46.3,46.1,17.6,15.7,21.0,41.7,41.6,10.4,9.6,4168350
11,20040491,스파이더맨 2,10.00,6,샘 레이미,20040630,2004,미국,SF,126,...,24.0,24.1,38.6,32.4,37.0,65.7,64.0,25.7,23.3,2367704
12,20040596,바람의 파이터,9.00,11,양윤호,20040812,2004,한국,액션,120,...,14.1,14.2,54.9,54.9,69.9,69.3,44.3,41.9,38.1,2346446
13,20040721,오페라의 유령,8.31,16,조엘 슈마허,20041208,2004,미국,뮤지컬,146,...,18.2,18.3,23.0,22.5,34.6,58.6,50.2,23.6,21.7,2006880
14,20040568,내 여자친구를 소개합니다,6.95,43,곽재용,20040603,2004,한국,멜로/로맨스,118,...,29.3,29.5,38.2,40.4,63.4,61.2,23.3,20.3,19.5,2199359
15,20040576,늑대의 유혹,7.92,118,김태균,20040722,2004,한국,드라마,113,...,16.1,15.9,43.7,63.7,70.1,66.2,43.1,41.7,40.0,2189453
16,20150972,굿바이 싱글,9.39,1308,김태곤,20160629,2016,한국,코미디,120,...,22.0,22.1,22.2,18.0,21.8,36.9,34.4,16.6,18.9,256004
17,20060123,가족의 탄생,9.30,95,김태용,20060518,2006,한국,드라마,113,...,10.7,11.2,12.5,15.9,31.7,30.4,11.3,11.0,13.6,221925
18,20040617,시실리 2km,7.38,8,신정원,20040813,2004,한국,코미디,109,...,13.2,12.4,49.0,64.3,63.6,42.0,42.0,37.4,39.3,1987380
19,20040597,"아이, 로봇",9.33,24,알렉스 프로야스,20040730,2004,미국,SF,110,...,15.2,11.7,40.9,59.6,61.6,46.7,45.1,41.0,40.5,1777470
20,20040641,S 다이어리,6.00,8,권종관,20041022,2004,한국,코미디,104,...,21.7,21.4,42.2,59.2,54.3,23.1,22.0,21.2,17.1,1531840
21,20040613,알포인트,8.85,27,공수창,20040820,2004,한국,전쟁,106,...,13.8,13.7,47.6,59.6,56.6,34.4,32.0,29.9,29.3,1689000
22,20070023,어깨 너머의 연인,7.43,46,이언희,20071018,2007,한국,드라마,100,...,11.9,11.7,10.4,12.1,18.8,16.3,7.3,7.4,7.4,301153
23,20060068,"달콤, 살벌한 연인",8.89,282,손재곤,20060406,2006,한국,스릴러,110,...,17.8,17.7,21.2,26.8,45.5,43.1,18.0,17.8,18.3,2286745
24,20040743,브리짓 존스의 일기2 : 열정과 애정,6.67,6,비번 키드론,20041208,2004,영국,멜로/로맨스,107,...,17.0,17.2,16.8,19.2,29.4,47.8,41.0,19.6,19.8,1462000
25,20040481,어린 신부,8.00,15,김호준,20040402,2004,한국,코미디,114,...,16.6,18.0,56.7,76.1,83.9,85.6,32.0,30.6,24.9,3149500
26,20040631,터미널,9.38,14,스티븐 스필버그,20040827,2004,미국,드라마,128,...,15.9,14.1,36.4,57.7,53.9,25.4,25.7,20.5,22.8,1335571
27,20040756,하울의 움직이는 성,9.20,195,미야자키 하야오,20041223,2004,일본,애니메이션,119,...,18.6,18.8,24.6,55.5,81.8,64.4,26.6,29.2,30.0,3015165
28,20040700,나비효과,10.00,3,에릭 브레스,20041112,2004,미국,드라마,113,...,12.1,100.0,0.0,20.1,25.5,33.3,50.0,48.5,25.8,1239079
29,20040682,역도산,7.00,6,송해성,20041215,2004,한국,드라마,137,...,21.9,21.9,32.0,28.3,28.5,48.7,46.1,17.7,17.7,1386179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2568,20161583,스푹스:MI5,8.10,111,바랫 낼러리,20160317,2015,영국,액션,104,...,5.1,4.7,4.3,4.5,7.6,6.6,2.6,2.7,2.9,41416
2569,20162245,33,8.95,248,패트리시아 리건,20160407,2015,미국,드라마,126,...,3.9,0.5,3.2,3.7,6.5,6.7,3.1,3.8,6.5,41269
2570,20163322,동급생,9.67,30,나카무라 쇼코,20160519,2016,일본,애니메이션,61,...,0.9,0.6,17.8,11.3,15.5,16.5,5.7,5.4,7.3,38700
2571,20161905,나의 그리스식 웨딩 2,9.50,137,커크 존스,20160330,2016,미국,코미디,94,...,4.4,4.7,5.6,4.2,4.3,7.6,8.7,3.3,3.2,38298
2572,19818004,불의 전차,7.95,153,휴 허드슨,20160616,1981,영국,드라마,123,...,0.8,0.6,12.8,10.4,19.0,19.6,8.5,11.2,9.0,46855
2573,20161921,"헤일, 시저!",9.00,65,에단 코엔,20160324,2016,미국,코미디,106,...,3.7,1.0,5.0,5.3,8.7,8.1,4.1,4.4,9.7,34294
2574,20161842,태양 아래,9.50,123,비탈리 만스키,20160427,2015,체코,다큐멘터리,92,...,1.0,1.1,7.4,5.5,6.8,12.8,14.0,7.1,6.4,32031
2575,20163411,서프러제트,9.32,116,사라 가브론,20160623,2016,미국,드라마,107,...,0.4,0.3,30.9,30.1,42.7,41.2,22.7,21.6,33.9,13437
2576,20162063,하이-라이즈,9.58,172,벤 웨틀리,20160330,2015,영국,스릴러,119,...,1.7,1.7,12.4,8.9,7.5,13.3,12.8,5.1,4.8,24600
2577,20158888,45년 후,8.30,60,앤드류 헤이,20160505,2015,영국,드라마,95,...,0.5,0.6,27.9,26.1,23.2,20.7,11.9,13.0,12.0,23234
2578,20161941,하이 스피드! –프리! 스타팅 데이즈-,9.84,63,타케모토 야스히로,20160324,2016,일본,애니메이션,111,...,0.5,0.4,18.7,13.2,27.5,24.9,5.0,5.7,7.3,23496
2579,20161722,히야,9.88,625,김지연,20160310,2015,한국,드라마,109,...,1.0,1.1,6.9,9.9,19.1,21.9,3.6,3.3,4.0,21687
2580,20159445,세기의 매치,9.21,58,에드워드 즈윅,20160128,2014,미국,드라마,115,...,1.9,0.8,5.8,5.7,8.4,8.0,3.9,3.9,3.2,20444
2581,20144441,섬. 사라진 사람들,9.39,553,이지승,20160303,2015,한국,스릴러,88,...,1.9,2.0,5.1,5.5,10.2,8.8,4.3,3.3,3.8,20165
2582,20161461,프란치스코,9.00,32,베다 도캄포 페이주,20160310,2015,스페인,드라마,105,...,1.6,1.7,4.4,4.5,7.3,9.7,5.6,5.0,5.7,18801
2583,20030412,무간도2 - 혼돈의 시대,9.67,3,유위강,20031205,2003,홍콩,범죄,101,...,4.2,100.0,6.4,5.3,3.0,9.2,10.4,9.6,8.5,29120
2584,20158905,버스 657,8.01,235,스콧 만,20160114,2015,미국,액션,92,...,1.5,1.6,5.7,5.7,10.1,10.6,5.5,5.7,6.8,18042
2585,20163081,미라클 프롬 헤븐,9.74,57,패트리시아 리건,20160525,2016,미국,드라마,109,...,1.0,1.1,3.4,4.5,4.5,8.7,12.7,4.4,4.7,17327
2586,20164747,리틀 폭스,8.93,75,갈수영,20160623,2016,중국,애니메이션,82,...,0.6,0.3,5.9,6.9,19.9,19.2,3.8,4.8,6.1,13610
2587,20152541,무수단,7.17,511,구모,20160303,2015,한국,미스터리,87,...,1.8,1.8,3.9,4.5,8.1,7.2,2.7,2.7,2.9,15882
2588,20154902,자객 섭은낭,7.50,129,허우 샤오시엔,20160204,2015,대만,사극,106,...,0.3,0.4,8.8,10.1,14.3,12.8,16.6,17.3,17.3,15673
2589,20156083,트윈스터즈,9.44,16,사만다 푸터먼,20160303,2015,미국,다큐멘터리,89,...,1.2,1.3,3.8,3.9,7.4,7.4,3.5,3.7,4.0,15003
2590,20156080,나쁜놈은 죽는다,6.97,547,손호,20160204,2015,한국,코미디,104,...,0.9,1.0,4.1,4.4,5.4,6.7,9.8,13.5,10.1,14942
2591,20161598,산이 울다,9.12,40,래리 양,20160525,2015,중국,드라마,107,...,1.1,1.2,3.9,3.7,4.5,6.6,5.8,4.3,4.3,12770
2592,20164387,미스터 라잇,9.12,25,파코 카베자스,20160616,2015,미국,액션,95,...,1.0,0.2,6.7,6.8,9.0,8.9,5.4,5.3,10.4,11749
2593,20159965,겁쟁이 페달: 더 무비,9.45,49,나가누마 노리히로,20160114,2015,일본,애니메이션,90,...,0.6,0.6,12.6,7.5,11.4,8.6,3.7,3.1,3.8,11777
2594,20155174,미니 자이언트,9.16,19,마크 브라운로우,20160128,2014,영국,애니메이션,43,...,0.1,0.0,3.4,3.7,5.6,4.4,2.5,2.5,2.2,11703
2595,20157441,멜리스,7.62,58,김용운,20160211,2015,한국,공포(호러),96,...,0.9,0.3,5.4,4.9,5.9,6.3,3.5,3.5,5.4,11484
2596,20163441,몽키킹2: 서유기 여정의 시작,7.29,143,정보서,20160519,2016,중국,액션,119,...,0.4,0.4,15.9,24.3,25.7,27.1,24.3,23.5,23.5,11156
2597,20162101,최악의 이웃과 사랑에 빠지는 방법,9.14,186,클로비스 코르니악,20160407,2015,프랑스,멜로/로맨스,91,...,1.4,0.3,2.7,3.3,6.5,5.9,3.4,4.2,4.4,10472

## 데이터 전처리

In [4]:
data_set["openDt"] = data_set["openDt"].apply(lambda x: str(x)[4:6])

In [5]:
def month_change(i):
    if i == "01":
        return 'jan'
    elif i == '02':
        return 'feb'
    elif i == '03':
        return 'mar'
    elif i == '04':
        return 'apr'
    elif i == '05':
        return 'may'
    elif i == '06':
        return 'jun'
    elif i == '07':
        return 'jul'
    elif i == '08':
        return 'aug'
    elif i == '09':
        return 'sep'
    elif i == '10':
        return 'oct'
    elif i == '11':
        return 'nov'
    else:
        return 'dec'
data_set["openDt"] = data_set["openDt"].apply(month_change)

In [6]:
def grade_change(i):
    if i == '연소자관람가' or i == "모든 관람객이 관람할 수 있는 등급" or i == '전체관람가':
        return 'G'
    elif i == '12세관람가' or i == '12세이상관람가' or i == '국민학생관람불가' or i == '연소자관람불가' or i == '중학생이상관람가' or i == 'nan':
        return 'PG_13'
    elif i == '15세관람가' or i == '15세이상관람가' or i == '15세 미만인 자는 관람할 수 없는 등급 ' or i == '고등학생이상관람가':
        return 'R'
    elif i == '18세관람가' or i == '청소년관람불가':
        return 'NC_17'
    else:
        return i
data_set["watchGradeNm"] = data_set["watchGradeNm"].apply(grade_change)

In [7]:
data_set["showTm"] = data_set["showTm"].astype(int)

In [8]:
def time_change(i):
    if i < 90:
        return 'under_90'
    elif i >= 90 and i < 120:
        return '90_120'
    elif i >=120 and i < 150:
        return '120_150'
    else:
        return '150_up'

data_set["showTm"] = data_set["showTm"].apply(time_change)

In [9]:
def nation_change(i):
    if i == '중국' or i == '홍콩' or i == '대만':
        return 'china'
    elif i == '아이슬란드' or i == '우크라이나' or i == '체코' or i == '노르웨이' or i == ' 오스트리아' or i == '덴마크' or i == '러시아' or i == '이탈리아' or i == '벨기에' or i == '네덜란드' or i == '스페인' or i == '핀란드' or i == '스웨덴' or i == '스위스' or i == '영국' or i == '프랑스' or i == '헝가리' or i == '독일' or i == '아일랜드':
        return 'europe'
    elif i == '태국' or i == '싱가포르' or i == '호주' or i == '캐나다' or i == '페루' or i == '멕시코' or i == '이스라엘' or i == '뉴질랜드' or i == '아르헨티나' or i == '이란' or i == '남아프리카공화국' or i == '인도네시아' or i == '인도':
        return 'other_nation'
    elif i == '한국':
        return 'korea'
    elif i == '미국':
        return 'america'
    elif i == '일본':
        return 'japan'
data_set["repNationNm"] = data_set["repNationNm"].apply(nation_change)

In [10]:
def genre_change(i):
    if i == '드라마' or i == '멜로/로맨스':
        return 'drama_romance'
    elif i == '전쟁' or i == '액션':
        return 'war_action'
    elif i == '공포(호러)' or i == '미스터리':
        return 'horror_mystery'
    elif i == '범죄' or i == '스릴러':
        return 'crime_thriller'
    elif i == 'SF' or i == '판타지' or i == '어드벤처':
        return 'SF_fantasy_adventure'
    elif i == '애니메이션' or i == '가족':
        return 'family_animation'
    elif i == '코미디':
        return 'comedy'
    elif i == '다큐멘터리':
        return 'documentary'
    elif i == '공연' or i == '뮤지컬':
        return 'performance_musical'
    elif i == '사극' or i == '서부극(웨스턴)':
        return 'historical'
    else:
        return i
    
data_set["repGenreNm"] = data_set["repGenreNm"].apply(genre_change)

In [11]:
def company_change(i):
    if i == '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)' or i == '월트디즈니' or i == '월트디즈니컴퍼니코리아(주)' or i == '월트디즈니코리아㈜':
        return 'walt_disney'
    elif i == '이십세기폭스코리아(주)':
        return 'twentieth_century_fox'
    elif i == '씨제이이앤엠(주)':
        return 'cjenm'
    elif i == '(주)쇼박스':
        return 'showbox'
    elif i == '워너 브러더스 픽쳐스' or i == '워너브러더스 코리아(주)':
        return 'warnerbros'
    elif i == '㈜메가박스' or i == '메가박스(주)플러스엠':
        return 'megabox'
    elif i == '유니버셜 픽쳐스' or i == '유니버설픽쳐스인터내셔널 코리아(유)':
        return 'universal'
    elif i == '(주)넥스트엔터테인먼트월드(NEW)':
        return 'next'
    elif i == '(주)와우픽쳐스':
        return 'wowpictures'
    elif i == '롯데쇼핑㈜롯데엔터테인먼트':
        return 'lotte'
    else:
        return 'other_company'
data_set["companyNm"] = data_set["companyNm"].apply(company_change)

In [12]:
cate_set = data_set[['movieCd', 'director', 'openDt', 'prdtYear', 'repNationNm', 'repGenreNm', 'showTm', 'watchGradeNm', 'actor_1', 'actor_2', 'actor_3', 'companyNm','audience']]

In [13]:
def score_change(i):
    if i < 1000000:
        return 1
    elif i < 2000000 and i >= 1000000:
        return 2
    elif i < 3000000 and i >= 2000000:
        return 3
    elif i < 4000000 and i >= 3000000:
        return 4
    elif i < 5000000 and i >= 4000000:
        return 5
    elif i < 6000000 and i >= 5000000:
        return 6
    elif i < 7000000 and i >= 6000000:
        return 7
    elif i < 8000000 and i >= 7000000:
        return 8
    elif i < 9000000 and i >= 8000000:
        return 9
    else:
        return 10
    
    
cate_set["audience"] = cate_set["audience"].apply(score_change)

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
def score_change(i):
    if i < 20000:
        return 1
    elif i < 40000 and i >= 20000:
        return 2
    elif i < 60000 and i >= 40000:
        return 3
    elif i < 100000 and i >= 60000:
        return 4
    elif i < 150000 and i >= 100000:
        return 5
    elif i < 250000 and i >= 150000:
        return 6
    elif i < 500000 and i >= 250000:
        return 7
    elif i < 1000000 and i >= 500000:
        return 8
    elif i < 2000000 and i >= 1000000:
        return 9
    else:
        return 10
    
    
cate_set["audience"] = cate_set["audience"].apply(score_change)

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
cate_set

,movieCd,director,openDt,prdtYear,repNationNm,repGenreNm,showTm,watchGradeNm,actor_1,actor_2,actor_3,companyNm,audience
0,20030371,강제규,feb,2004,korea,war_action,120_150,R,장동건,원빈,이은주,other_company,1
1,20040555,볼프강 페터젠,may,2004,america,historical,120_150,R,다이앤 크루거,올랜도 블룸,에릭 바나,other_company,1
2,20040673,이재한,nov,2004,korea,drama_romance,90_120,PG_13,정우성,손예진,데이비드 맥기니스,other_company,1
3,20040649,김상진,sep,2004,korea,comedy,120_150,PG_13,김응수,장서희,차승원,other_company,1
4,20159748,브래드 버드,may,2014,america,war_action,120_150,PG_13,조지 클루니,휴 로리,브릿 로버트슨,other_company,1
5,20148807,더그 라이만,jun,2014,america,war_action,90_120,PG_13,톰 크루즈,에밀리 블런트,빌 팩스톤,warnerbros,1
6,20040628,안권태,oct,2004,korea,drama_romance,90_120,R,원빈,조성제,신하균,other_company,1
7,20040598,알폰소 쿠아론,jul,2004,america,drama_romance,120_150,G,다니엘 래드클리프,엠마 왓슨,루퍼트 그린트,other_company,1
8,20040566,켈리 애스버리,jun,2004,america,family_animation,90_120,G,마이크 마이어스,카메론 디아즈,에디 머피,other_company,1
9,20030410,강우석,dec,2003,korea,war_action,120_150,R,설경구,안성기,허준호,other_company,1
10,20135661,마크 웹,apr,2014,america,war_action,120_150,PG_13,앤드류 가필드,엠마 스톤,제이미 폭스,walt_disney,1
11,20040491,샘 레이미,jun,2004,america,SF_fantasy_adventure,120_150,PG_13,토비 맥과이어,커스틴 던스트,NaN,other_company,1
12,20040596,양윤호,aug,2004,korea,war_action,120_150,PG_13,양동근,히라야마 아야,허명행,other_company,1
13,20040721,조엘 슈마허,dec,2004,america,performance_musical,120_150,PG_13,제라드 버틀러,에미 로섬,NaN,warnerbros,1
14,20040568,곽재용,jun,2004,korea,drama_romance,90_120,R,전지현,장혁,김정태,other_company,1
15,20040576,김태균,jul,2004,korea,drama_romance,90_120,PG_13,강동원,이청아,조한선,other_company,1
16,20150972,김태곤,jun,2016,korea,comedy,120_150,R,김혜수,마동석,김현수,other_company,1
17,20060123,김태용,may,2006,korea,drama_romance,90_120,R,문소리,엄태웅,고두심,other_company,1
18,20040617,신정원,aug,2004,korea,comedy,90_120,R,권오중,김윤석,임은경,other_company,1
19,20040597,알렉스 프로야스,jul,2004,america,SF_fantasy_adventure,90_120,PG_13,윌 스미스,브리짓 모나핸,NaN,other_company,1
20,20040641,권종관,oct,2004,korea,comedy,90_120,R,공유,김광일,홍윤희,other_company,1
21,20040613,공수창,aug,2004,korea,war_action,90_120,R,감우성,손병호,박원상,other_company,1
22,20070023,이언희,oct,2007,korea,drama_romance,90_120,NC_17,이미연,이태란,김준성,other_company,1
23,20060068,손재곤,apr,2006,korea,crime_thriller,90_120,NC_17,박용우,최강희,정경호,other_company,1
24,20040743,비번 키드론,dec,2004,europe,drama_romance,90_120,R,르네 젤위거,휴 그랜트,린 콜린스,other_company,1
25,20040481,김호준,apr,2004,korea,comedy,90_120,PG_13,김래원,김보경,안선영,other_company,1
26,20040631,스티븐 스필버그,aug,2004,america,drama_romance,120_150,G,톰 행크스,캐서린 제타-존스,NaN,other_company,1
27,20040756,미야자키 하야오,dec,2004,japan,family_animation,90_120,G,바이쇼 치에코,기무라 다쿠야,NaN,other_company,1
28,20040700,에릭 브레스,nov,2004,america,drama_romance,90_120,NC_17,에이미 스마트,애쉬튼 커처,에릭 스톨츠,other_company,1
29,20040682,송해성,dec,2004,korea,drama_romance,120_150,PG_13,설경구,이명수,유병훈,other_company,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2568,20161583,바랫 낼러리,mar,2015,europe,war_action,90_120,R,킷 해링턴,피터 퍼스,NaN,other_company,1
2569,20162245,패트리시아 리건,apr,2015,america,drama_romance,120_150,PG_13,안토니오 반데라스,로드리고 산토로,줄리엣 비노쉬,other_company,1
2570,20163322,나카무라 쇼코,may,2016,japan,family_animation,under_90,R,카미야 히로시,노지마 켄지,이시카와 히데오,other_company,1
2571,20161905,커크 존스,mar,2016,america,comedy,90_120,R,니아 발다로스,존 코베트,엘레나 캠푸리스,other_company,1
2572,19818004,휴 허드슨,jun,1981,europe,drama_romance,120_150,PG_13,니콜라스 파렐,나이젤 하버스,벤 크로스,other_company,1
2573,20161921,에단 코엔,mar,2016,america,comedy,90_120,PG_13,조지 클루니,조슈 브롤린,스칼렛 요한슨,universal,1
2574,20161842,비탈리 만스키,apr,2015,europe,documentary,90_120,G,NaN,NaN,NaN,other_company,1
2575,20163411,사라 가브론,jun,2016,america,drama_romance,90_120,PG_13,캐리 멀리건,헬레나 본햄 카터,메릴 스트립,universal,1
2576,20162063,벤 웨틀리,mar,2015,europe,crime_thriller,90_120,NC_17,톰 히들스턴,제레미 아이언스,시에나 밀러,other_company,1
2577,20158888,앤드류 헤이,may,2015,europe,drama_romance,90_120,R,샬롯 램플링,톰 커트니,NaN,other_company,1
2578,20161941,타케모토 야스히로,mar,2016,japan,family_animation,90_120,G,시마자키 노부나가,스즈키 타츠히사,토요나가 토시유키,other_company,1
2579,20161722,김지연,mar,2015,korea,drama_romance,90_120,PG_13,안보현,이호원,박철민,other_company,1
2580,20159445,에드워드 즈윅,jan,2014,america,drama_romance,90_120,PG_13,토비 맥과이어,리브 슈라이버,피터 사스가드,other_company,1
2581,20144441,이지승,mar,2015,korea,crime_thriller,under_90,R,박효주,배성우,이현욱,other_company,1
2582,20161461,베다 도캄포 페이주,mar,2015,europe,drama_romance,90_120,PG_13,다리오 그랜디네티,실비아 아바스칼,NaN,other_company,1
2583,20030412,유위강,dec,2003,china,crime_thriller,90_120,R,진관희,여문락,황추생,other_company,1
2584,20158905,스콧 만,jan,2015,america,war_action,90_120,R,로버트 드니로,제프리 딘 모건,데이브 바티스타,other_company,1
2585,20163081,패트리시아 리건,may,2016,america,drama_romance,90_120,G,제니퍼 가너,마틴 헨더슨,카일리 로저스,universal,1
2586,20164747,갈수영,jun,2016,china,family_animation,under_90,G,이지현,김연우,박상훈,other_company,1
2587,20152541,구모,mar,2015,korea,horror_mystery,under_90,R,이지아,김민준,도지한,other_company,1
2588,20154902,허우 샤오시엔,feb,2015,china,historical,90_120,PG_13,서기,장첸,츠마부키 사토시,other_company,1
2589,20156083,사만다 푸터먼,mar,2015,america,documentary,under_90,PG_13,사만다 푸터먼,아나이스 보르디에,NaN,other_company,1
2590,20156080,손호,feb,2015,korea,comedy,90_120,R,손예진,진백림,신현준,other_company,1
2591,20161598,래리 양,may,2015,china,drama_romance,90_120,R,량예팅,왕쯔이,NaN,other_company,1
2592,20164387,파코 카베자스,jun,2015,america,war_action,90_120,NC_17,안나 켄드릭,샘 록웰,팀 로스,other_company,1
2593,20159965,나가누마 노리히로,jan,2015,japan,family_animation,90_120,G,NaN,NaN,NaN,other_company,1
2594,20155174,마크 브라운로우,jan,2014,europe,family_animation,under_90,G,NaN,NaN,NaN,other_company,1
2595,20157441,김용운,feb,2015,korea,horror_mystery,90_120,R,홍수아,임성언,양명헌,other_company,1
2596,20163441,정보서,may,2016,china,war_action,90_120,PG_13,곽부성,공리,풍소봉,other_company,1
2597,20162101,클로비스 코르니악,apr,2015,europe,drama_romance,90_120,PG_13,클로비스 코르니악,멜라니 베니어,NaN,other_company,1

In [17]:
d1 = cate_set[["director","audience"]]
o1 = cate_set[["openDt","audience"]]
p1 = cate_set[["prdtYear","audience"]]
n1 = cate_set[["repNationNm","audience"]]
g1 = cate_set[["repGenreNm","audience"]]
s1 = cate_set[["showTm","audience"]]
w1 = cate_set[["watchGradeNm","audience"]]
c1 = cate_set[["companyNm","audience"]]

In [18]:
d2 = d1.groupby("director").agg({"audience": np.mean})
o2 = o1.groupby("openDt").agg({"audience": np.mean})
p2 = p1.groupby("prdtYear").agg({"audience": np.mean})
n2 = n1.groupby("repNationNm").agg({"audience": np.mean})
g2 = g1.groupby("repGenreNm").agg({"audience": np.mean})
s2 = s1.groupby("showTm").agg({"audience": np.mean})
w2 = w1.groupby("watchGradeNm").agg({"audience": np.mean})
c2 = c1.groupby("companyNm").agg({"audience": np.mean})

In [19]:
d2 = d2.reset_index()
o2 = o2.reset_index()
p2 = p2.reset_index()
n2 = n2.reset_index()
g2 = g2.reset_index()
s2 = s2.reset_index()
w2 = w2.reset_index()
c2 = c2.reset_index()

In [20]:
d3 = cate_set.merge(d2,how='inner',on='director')
o3 = cate_set.merge(o2,how='inner',on='openDt')
p3 = cate_set.merge(p2,how='inner',on='prdtYear')
n3 = cate_set.merge(n2,how='inner',on='repNationNm')
g3 = cate_set.merge(g2,how='inner',on='repGenreNm')
s3 = cate_set.merge(s2,how='inner',on='showTm')
w3 = cate_set.merge(w2,how='inner',on='watchGradeNm')
c3 = cate_set.merge(c2,how='inner',on='companyNm')

In [21]:
d3 = d3.rename(columns={"audience_y":"director_score"})
o3 = o3.rename(columns={"audience_y":"openDt_score"})
p3 = p3.rename(columns={"audience_y":"prdtYear_score"})
n3 = n3.rename(columns={"audience_y":"repNationNm_score"})
g3 = g3.rename(columns={"audience_y":"repGenreNm_score"})
s3 = s3.rename(columns={"audience_y":"showTm_score"})
w3 = w3.rename(columns={"audience_y":"watchGradeNm_score"})
c3 = c3.rename(columns={"audience_y":"companyNm_score"})

In [22]:
d3 = d3[["movieCd","director_score"]]
o3 = o3[["movieCd","openDt_score"]]
p3 = p3[["movieCd","prdtYear_score"]]
n3 = n3[["movieCd","repNationNm_score"]]
g3 = g3[["movieCd","repGenreNm_score"]]
s3 = s3[["movieCd","showTm_score"]]
w3 = w3[["movieCd","watchGradeNm_score"]]
c3 = c3[["movieCd","companyNm_score"]]

In [23]:
a11 = cate_set[["movieCd","actor_1","audience"]]
a12 = cate_set[["movieCd","actor_2","audience"]]
a13 = cate_set[["movieCd","actor_3","audience"]]

In [24]:
a21 = a11.groupby("actor_1").agg({"audience": np.mean})
a22 = a12.groupby("actor_2").agg({"audience": np.mean})
a23 = a13.groupby("actor_3").agg({"audience": np.mean})

In [25]:
a21 = a21.reset_index()
a22 = a22.reset_index()
a23 = a23.reset_index()

In [26]:
a31 = cate_set.merge(a21,how='outer',on='actor_1')
a32 = cate_set.merge(a22,how='outer',on='actor_2')
a33 = cate_set.merge(a23,how='outer',on='actor_3')

In [27]:
a31 = a31.rename(columns = {"actor_1":"actor"})
a32 = a32.rename(columns = {"actor_2":"actor"})
a33 = a33.rename(columns = {"actor_3":"actor"})

In [28]:
a41 = a31[["actor","audience_y"]]
a42 = a32[["actor","audience_y"]]
a43 = a33[["actor","audience_y"]]

In [29]:
actor = pd.concat([a41,a42,a43])

In [30]:
actor = actor.groupby("actor").agg({"audience_y":np.mean})

In [31]:
actor = actor.reset_index()

In [32]:
a31 = a31[["movieCd","audience_y"]]
a32 = a32[["movieCd","audience_y"]]
a33 = a33[["movieCd","audience_y"]]

In [33]:
actor = a31.merge(a32,how="outer",on="movieCd")

In [34]:
actor = actor.merge(a33,how="outer",on="movieCd")

In [35]:
actor["actor_score"] = actor["audience_y"]+ actor["audience_y_x"] + actor["audience_y_y"]

In [36]:
actor = actor[["movieCd","actor_score"]]

In [37]:
actor = actor.fillna(0)

In [38]:
value_data_set = data_set.drop(['director', 'openDt', 'prdtYear', 'repNationNm', 'repGenreNm', 'showTm', 'watchGradeNm', 'actor_1', 'actor_2', 'actor_3', 'companyNm','audience'],axis=1)

In [40]:
dd_set = value_data_set.merge(d3,how="outer",on="movieCd")

In [41]:
dd_set = dd_set.merge(o3,how="outer",on="movieCd")

In [42]:
dd_set = dd_set.merge(p3,how="outer",on="movieCd")

In [43]:
dd_set = dd_set.merge(n3,how="outer",on="movieCd")

In [44]:
dd_set = dd_set.merge(g3,how="outer",on="movieCd")

In [45]:
dd_set = dd_set.merge(s3,how="outer",on="movieCd")

In [46]:
dd_set = dd_set.merge(w3,how="outer",on="movieCd")

In [47]:
dd_set = dd_set.merge(c3,how="outer",on="movieCd")

In [48]:
dd_set = dd_set.merge(actor,how="outer",on="movieCd")

In [49]:
dd_set["director_score"] = round(dd_set["director_score"],1)
dd_set["openDt_score"] = round(dd_set["openDt_score"],1)
dd_set["prdtYear_score"] = round(dd_set["prdtYear_score"],1)
dd_set["repNationNm_score"] = round(dd_set["repNationNm_score"],1)
dd_set["repGenreNm_score"] = round(dd_set["repGenreNm_score"],1)
dd_set["showTm_score"] = round(dd_set["showTm_score"],1)
dd_set["watchGradeNm_score"] = round(dd_set["watchGradeNm_score"],1)
dd_set["companyNm_score"] = round(dd_set["companyNm_score"],1)
dd_set["actor_score"] = round(dd_set["actor_score"],1)

In [50]:
dd_set = dd_set.drop(["movieCd","movieNm"],axis=1)

In [51]:
dd_set = dd_set.fillna(0)

In [52]:
dd_set

,star_score,star_user_count,preview_audience,d1_audience,d2_audience,d3_audience,d4_audience,d5_audience,d6_audience,d7_audience,...,d7_seat,director_score,openDt_score,prdtYear_score,repNationNm_score,repGenreNm_score,showTm_score,watchGradeNm_score,companyNm_score,actor_score
0,9.62,77,44097,63289,80911,109972,109834,70696,68761,68527,...,61.2,1,1,1,1.0,1,1,1.0,1,3.0
1,9.19,21,59425,78490,120387,111317,47738,64278,120620,39688,...,33.0,1,1,1,1.0,1,1,1.0,1,3.0
2,8.00,36,46,111038,183138,168971,66193,66593,59085,72937,...,27.6,1,1,1,1.0,1,1,1.0,1,3.0
3,8.80,10,57675,77921,153045,145349,45838,44281,41398,38328,...,17.7,1,1,1,1.0,1,1,1.0,1,3.0
4,8.98,136,607,22850,22217,29816,74551,64048,14135,10958,...,4.0,1,1,1,1.0,1,1,1.0,1,3.0
5,9.22,366,80680,377160,246697,469539,433758,363899,105528,95624,...,12.6,1,1,1,1.0,1,1,1.0,1,3.0
6,8.31,14,1254,116069,189865,180242,66331,71244,68921,59488,...,21.4,1,1,1,1.0,1,1,1.0,1,3.0
7,8.83,48,107760,132219,257050,207623,67924,63630,59956,49448,...,24.0,1,1,1,1.0,1,1,1.0,1,3.0
8,7.35,17,49822,86789,157714,159360,56645,51566,49162,43876,...,20.6,1,1,1,1.0,1,1,1.0,1,3.0
9,7.68,29,12718,21361,22498,17411,19854,20871,14694,13525,...,62.5,1,1,1,1.0,1,1,1.0,1,3.0
10,9.03,697,3203,192229,176794,247096,533376,516072,115439,105191,...,9.6,1,1,1,1.0,1,1,1.0,1,3.0
11,10.00,6,15544,92649,79294,96984,186057,172999,61533,55443,...,23.3,1,1,1,1.0,1,1,1.0,1,0.0
12,9.00,11,1707,80852,87749,131782,126585,73993,71272,64280,...,38.1,1,1,1,1.0,1,1,1.0,1,3.0
13,8.31,16,1004,41831,47500,80842,151360,120110,51417,47142,...,21.7,1,1,1,1.0,1,1,1.0,1,0.0
14,6.95,43,37441,85531,96990,167284,152334,53584,45469,43462,...,19.5,1,1,1,1.0,1,1,1.0,1,3.0
15,7.92,118,11913,57352,102931,126827,116010,72447,69221,64924,...,40.0,1,1,1,1.0,1,1,1.0,1,3.0
16,9.39,1308,31562,122560,101933,130386,272528,249980,113296,128710,...,18.9,1,1,1,1.0,1,1,1.0,1,3.0
17,9.30,95,1537,14840,20420,39594,36319,11408,11762,15609,...,13.6,1,1,1,1.0,1,1,1.0,1,3.0
18,7.38,8,43677,63204,89979,87656,55145,55107,49039,46337,...,39.3,1,1,1,1.0,1,1,1.0,1,3.0
19,9.33,24,60648,66572,99270,99576,67433,64190,57493,45030,...,40.5,1,1,1,1.0,1,1,1.0,1,0.0
20,6.00,8,1911,109942,166095,148753,57339,54925,52325,40254,...,17.1,1,1,1,1.0,1,1,1.0,1,3.0
21,8.85,27,45670,67252,91951,84823,47543,43978,41400,37598,...,29.3,1,1,1,1.0,1,1,1.0,1,3.0
22,7.43,46,1417,23546,28173,43661,36346,14910,15148,14879,...,7.4,1,1,1,1.0,1,1,1.0,1,3.0
23,8.89,282,10194,66776,92771,173112,154926,59965,59463,60740,...,18.3,1,1,1,1.0,1,1,1.0,1,3.0
24,6.67,6,0,29304,35910,59801,100419,83828,37664,38248,...,19.8,1,1,1,1.0,1,1,1.0,1,3.0
25,8.00,15,11526,21756,36924,42597,43332,14405,14022,13882,...,24.9,1,1,1,1.0,1,1,1.0,1,3.0
26,9.38,14,46182,64515,109042,95825,43857,42974,35643,33301,...,22.8,1,1,1,1.0,1,1,1.0,1,0.0
27,9.20,195,600,52355,143058,216258,157850,62615,68587,72136,...,30.0,1,1,1,1.0,1,1,1.0,1,0.0
28,10.00,3,0,0,20376,25679,38263,65025,60676,955561,...,25.8,1,1,1,1.0,1,1,1.0,1,3.0
29,7.00,6,140,77851,68989,75588,136778,121787,43362,42969,...,17.7,1,1,1,1.0,1,1,1.0,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2568,8.10,111,108,6670,7056,9885,7655,2805,2946,2865,...,2.9,1,1,1,1.0,1,1,1.0,1,0.0
2569,8.95,248,15227,3705,4236,5804,5286,2343,2977,750,...,6.5,1,1,1,1.0,1,1,1.0,1,3.0
2570,9.67,30,0,3188,1963,2726,2944,933,831,761,...,7.3,1,1,1,1.0,1,1,1.0,1,3.0
2571,9.50,137,1940,5689,4745,4595,6329,6617,2589,2626,...,3.2,1,1,1,1.0,1,1,1.0,1,3.0
2572,7.95,153,6862,1839,1408,2675,2630,1221,1644,1038,...,9.0,1,1,1,1.0,1,1,1.0,1,3.0
2573,9.00,65,1770,4014,4349,5911,4908,2607,2951,1871,...,9.7,1,1,1,1.0,1,1,1.0,1,3.0
2574,9.50,123,919,1386,1148,1494,2666,2599,1384,1310,...,6.4,1,1,1,1.0,1,1,1.0,1,0.0
2575,9.32,116,355,1489,1383,1889,1893,1489,1455,2252,...,33.9,1,1,1,1.0,1,1,1.0,1,3.0
2576,9.58,172,729,2730,2687,2266,3901,3539,1571,1474,...,4.8,1,1,1,1.0,1,1,1.0,1,3.0
2577,8.30,60,1678,2251,2194,1997,1574,997,1110,1073,...,12.0,1,1,1,1.0,1,1,1.0,1,0.0
2578,9.84,63,774,2176,1538,2965,2783,483,514,494,...,7.3,1,1,1,1.0,1,1,1.0,1,3.0
2579,9.88,625,1507,2034,3153,5634,5877,699,683,789,...,4.0,1,1,1,1.0,1,1,1.0,1,3.0
2580,9.21,58,2580,3112,2933,3637,3354,1463,1351,466,...,3.2,1,1,1,1.0,1,1,1.0,1,3.0
2581,9.39,553,1678,2913,2951,4435,3606,1596,1131,1412,...,3.8,1,1,1,1.0,1,1,1.0,1,3.0
2582,9.00,32,0,1449,1594,2373,3005,1723,1437,1769,...,5.7,1,1,1,1.0,1,1,1.0,1,0.0
2583,9.67,3,601,316,73,29,235,298,274,1897,...,8.5,1,1,1,1.0,1,1,1.0,1,3.0
2584,8.01,235,963,2235,2249,3208,3371,1608,1714,2150,...,6.8,1,1,1,1.0,1,1,1.0,1,3.0
2585,9.74,57,1678,612,873,952,1596,2117,759,897,...,4.7,1,1,1,1.0,1,1,1.0,1,3.0
2586,8.93,75,496,803,998,4766,4800,481,585,455,...,6.1,1,1,1,1.0,1,1,1.0,1,3.0
2587,7.17,511,1496,2179,2469,3862,2946,958,852,951,...,2.9,1,1,1,1.0,1,1,1.0,1,3.0
2588,7.50,129,1806,857,995,1166,1106,1078,1231,1392,...,17.3,1,1,1,1.0,1,1,1.0,1,3.0
2589,9.44,16,2389,1045,1130,2003,1807,761,793,903,...,4.0,1,1,1,1.0,1,1,1.0,1,0.0
2590,6.97,547,175,1285,1341,1352,1479,1977,2685,2141,...,10.1,1,1,1,1.0,1,1,1.0,1,3.0
2591,9.12,40,1477,773,919,1125,1356,1151,867,930,...,4.3,1,1,1,1.0,1,1,1.0,1,0.0
2592,9.12,25,188,1485,1437,1641,1580,1031,1009,487,...,10.4,1,1,1,1.0,1,1,1.0,1,3.0
2593,9.45,49,679,1765,986,1362,1006,379,313,386,...,3.8,1,1,1,1.0,1,1,1.0,1,0.0
2594,9.16,19,10385,181,250,300,276,49,47,23,...,2.2,1,1,1,1.0,1,1,1.0,1,0.0
2595,7.62,58,999,2026,1671,1786,1650,889,662,280,...,5.4,1,1,1,1.0,1,1,1.0,1,3.0
2596,7.29,143,0,1113,1604,1690,1808,1670,1610,1514,...,23.5,1,1,1,1.0,1,1,1.0,1,3.0
2597,9.14,186,3157,732,1032,1596,1451,843,1087,237,...,4.4,1,1,1,1.0,1,1,1.0,1,0.0

## dd_set to csv

In [106]:
dd_set.to_csv("value_data.csv",encoding="utf-8")