In [11]:
import requests
import pandas as pd
import numpy as np
import os
import time
import datetime
import json
from selenium import webdriver
from bs4 import BeautifulSoup

In [29]:
def send_slack(channel, username, icon_emoji, message):
    base_url = "https://hooks.slack.com/services/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"
    payload = {
       "channel": channel,
       "username": username,
       "icon_emoji": icon_emoji,
       "text": message
       }
    response = requests.post(base_url, data=json.dumps(payload))
    print(response.content)

def slack(function):
    def wrapper(*args, **kwargs):
        name = function.__name__
        start_time = time.time()
        current_time = str(datetime.datetime.now())
        send_slack("movie", "databot", ":ghost:", "작업을 실행합니다 - {time}".format(time=current_time))
        
        try:
            result = function(*args, **kwargs)
            current_time = str(datetime.datetime.now())
            end_time = time.time()
            send_slack("movie", "databot", ":ghost:", "작업이 끝났습니다 - 걸린시간은 {time}s 입니다.".format(time=int(end_time-start_time)))
            
        except:
            send_slack("movie", "databot", ":ghost:", "오류가 났어요 다시 봐주세요.")
        return result
    return wrapper

In [61]:
boxoffice_df = pd.read_csv("boxoffice.csv")

In [13]:
audience_df = pd.read_csv("audience.csv")

In [3]:
headers = {"Accept-Encoding":"gzip, deflate",
"Accept-Language":"ko-KR,ko;q=0.8,en-US;q=0.6,en;q=0.4",
"Connection":"keep-alive",
"Content-Length":24,
"Content-Type":"application/x-www-form-urlencoded",
"Cookie":"ACEFCID=UID-57832AC44039B8B57BE3DF6B; JSESSIONID=S2J8XM7QzvvL8t56GVYqdfpVH6cd1X28XC39wnTQGy7yLGnWhQFn!1412368483!-1881944657",
"Host":"www.kobis.or.kr",
"Origin":"http://www.kobis.or.kr",
"Referer":"http://www.kobis.or.kr/kobis/business/mast/mvie/searchMovieList.do",
"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36",
"X-Requested-With":"XMLHttpRequest"}

In [181]:
data = {"code":20070316,
       "sType": "stat"}

In [182]:
response = requests.post("http://www.kobis.or.kr/kobis/business/mast/mvie/searchMovieDtl.do",data=data,headers=headers)

In [183]:
dom = BeautifulSoup(response.content, "html.parser")

In [268]:
dom.select("td")[-1].text

'7,855,474(100%)'

In [184]:
dom1 = dom.select("td.right")

In [185]:
dom1[3].text

'6,206'

In [186]:
dom1[150].text

'7,855,474'

In [187]:
for i in range(9,58,7):
    print(dom1[i].text)

387,468
446,005
493,372
737,663
691,110
335,908
303,554

In [188]:
dom2 = dom.select("td.bgt2")

In [189]:
for i in range(4,32,4):
    print(dom2[i].text)

19.3%
19.5%
20.4%
23.7%
23.9%
20.5%
20.5%

In [190]:
for i in range(5,33,4):
    print(dom2[i].text)

26.9%
27.5%
28.6%
33.2%
33.9%
30.2%
30.3%

In [191]:
for i in range(7,35,4):
    print(dom2[i].text)

53.8%
59.5%
61.5%
78.8%
75.2%
40.8%
37.3%

In [199]:
audience_list = []
for i in range(9,58,7):
    audience_list.append(dom1[i].text)

In [200]:
screen_list = []
for i in range(4,32,4):
    screen_list.append(dom2[i].text)

In [201]:
show_list = []
for i in range(5,33,4):
    show_list.append(dom2[i].text)

In [202]:
seat_list = []
for i in range(7,35,4):
    seat_list.append(dom2[i].text)

In [30]:
@slack
def get_audience(audience_df):
    final_audience_df = pd.DataFrame(columns=["movieCd","preview_audience",
                                        "d1_audience","d2_audience","d3_audience","d4_audience","d5_audience","d6_audience","d7_audience",
                                        "d1_screen","d2_screen","d3_screen","d4_screen","d5_screen","d6_screen","d7_screen",
                                        "d1_show","d2_show","d3_show","d4_show","d5_show","d6_show","d7_show",
                                        "d1_seat","d2_seat","d3_seat","d4_seat","d5_seat","d6_seat","d7_seat",
                                        "audience"])
    
    for j in list(audience_df["movieCd"]):
        data = {"code":j, "sType": "stat"}
        headers = {"Accept-Encoding":"gzip, deflate",
                "Accept-Language":"ko-KR,ko;q=0.8,en-US;q=0.6,en;q=0.4",
                "Connection":"keep-alive",
                "Content-Length":24,
                "Content-Type":"application/x-www-form-urlencoded",
                "Cookie":"ACEFCID=UID-57832AC44039B8B57BE3DF6B; JSESSIONID=S2J8XM7QzvvL8t56GVYqdfpVH6cd1X28XC39wnTQGy7yLGnWhQFn!1412368483!-1881944657",
                "Host":"www.kobis.or.kr",
                "Origin":"http://www.kobis.or.kr",
                "Referer":"http://www.kobis.or.kr/kobis/business/mast/mvie/searchMovieList.do",
                "User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36",
                "X-Requested-With":"XMLHttpRequest"}
        r = requests.post("http://www.kobis.or.kr/kobis/business/mast/mvie/searchMovieDtl.do",data=data,headers=headers)
        dom = BeautifulSoup(r.content, "html.parser")
        dom1 = dom.select("td.right")
        dom2 = dom.select("td.bgt2")
        preview_audience = dom1[3].text
        audience_list = []       
        for i in range(9,58,7):
            audience_list.append(dom1[i].text)
        screen_list = []       
        for i in range(4,32,4):
            screen_list.append(dom2[i].text)
        show_list = []
        for i in range(5,33,4):
            show_list.append(dom2[i].text)
        seat_list = []
        for i in range(7,35,4):
            seat_list.append(dom2[i].text)
        audience = dom.select("td")[-1].text
        final_audience_df.loc[len(final_audience_df)] = [
            j,
            preview_audience,
            *audience_list,
            *screen_list,
            *show_list,
            *seat_list,
            audience
        ]
    return final_audience_df

In [15]:
final_audience_df = get_audience(audience_df)

b'ok'
b'ok'

In [261]:
audience_df

      Unnamed: 0   movieCd      preview   audience
0              0  20070316   41,041,000  3,401,286
1              1  20122021   47,384,000  2,966,980
2              2  20110659   71,373,000  3,832,454
3              3  20090303    1,853,000  3,437,612
4              4  20070061   24,882,000  2,523,764
5              5  20070209   52,417,000  1,851,294
6              6  20070056  125,756,000  2,503,039
7              7  20070057          NaN  2,670,521
8              8  20070063      277,000  2,464,565
9              9  20070060  642,590,100  1,703,577
10            10  20070015  552,999,200  1,653,710
11            11  20090926   32,477,000    320,675
12            12  20070435   84,582,000    725,204
13            13  20147247   21,368,000    979,115
14            14  20070033      817,000  1,180,217
15            15  20060387  370,894,700  1,180,054
16            16  20100321      972,000        110
17            17  20070116  363,622,000  1,721,882
18            18  20070014   20,648,000  1,032,314
19            19  20070550      433,000  1,176,767
20            20  20143261    5,184,000      4,178
21            21  20070551   17,078,000  1,336,617
22            22  20070434   71,352,000    692,360
23            23  20070104   39,017,500    762,641
24            24  20070466  182,376,000    450,120
25            25  20134561          NaN        580
26            26  20090340    1,800,000      3,596
27            27  20162583       11,000          9
28            28  20140281   11,186,000      1,553
29            29  20070422          NaN    567,402
...          ...       ...          ...        ...
2537        2537  20165041    1,624,000     24,033
2538        2538  20158888   13,691,500     12,874
2539        2539  20161941    6,192,000     11,727
2540        2540  20161722   12,322,000     20,376
2541        2541  20070560      608,500        297
2542        2542  20165141    6,405,000     15,489
2543        2543  20159445   18,933,600     18,896
2544        2544  20144441   13,700,300     19,722
2545        2545  20161461          NaN     13,350
2546        2546  20030010          NaN     18,736
2547        2547  20040455  281,776,500     54,307
2548        2548  20158905    8,541,000     17,498
2549        2549  20040703      627,000      8,961
2550        2550  20163081   11,110,000      9,484
2551        2551  20158982   14,561,000        107
2552        2552  20154201          NaN        110
2553        2553  20164747    3,964,000     13,384
2554        2554  19590006          NaN     32,355
2555        2555  20152541   13,967,000     15,713
2556        2556  20154902   13,335,000      9,631
2557        2557  20156083   19,413,600     10,831
2558        2558  20156080    1,575,000     12,435
2559        2559  20161598   12,663,000      8,598
2560        2560  20164387    1,316,000      8,858
2561        2561  20159965    4,073,501      6,876
2562        2562  20155174   64,750,000     11,511
2563        2563  20153182    5,786,000     11,077
2564        2564  20157441    8,023,000      9,963
2565        2565  20163441          NaN     11,009
2566        2566  20162101   26,784,000     10,135

[2567 rows x 4 columns]

In [94]:
audience_df = audience_df[audience_df["audience"] != ""].reset_index(drop=True)

In [89]:
len(test_df)

2567

In [95]:
audience_df["movieCd"] = audience_df["movieCd"].astype(int)

In [97]:
audience_df.to_csv("audience.csv",encoding="utf-8")