In [2]:
import requests
import pandas as pd
import numpy as np
import os
import time
import datetime
import json
from selenium import webdriver
from bs4 import BeautifulSoup

def send_slack(channel, username, icon_emoji, message):
    base_url = "https://hooks.slack.com/services/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"
    payload = {
       "channel": channel,
       "username": username,
       "icon_emoji": icon_emoji,
       "text": message
       }
    response = requests.post(base_url, data=json.dumps(payload))
    print(response.content)

def slack(function):
    def wrapper(*args, **kwargs):
        name = function.__name__
        start_time = time.time()
        current_time = str(datetime.datetime.now())
        send_slack("movie", "databot", ":ghost:", "작업을 실행합니다 - {time}".format(time=current_time))
        
        try:
            result = function(*args, **kwargs)
            current_time = str(datetime.datetime.now())
            end_time = time.time()
            send_slack("movie", "databot", ":ghost:", "작업이 끝났습니다 - 걸린시간은 {time}s 입니다.".format(time=int(end_time-start_time)))
            
        except:
            send_slack("movie", "databot", ":ghost:", "오류가 났어요 다시 봐주세요.")
        return result
    return wrapper

In [56]:
final_audience_df = pd.read_csv("final_audience.csv")
boxoffice_df = pd.read_csv("boxoffice.csv")
star_score_df = pd.read_csv("star_score.csv")

In [57]:
len(final_audience_df)

2548

In [58]:
len(boxoffice_df)

2934

In [59]:
len(star_score_df)

2393

In [60]:
data_set = star_score_df.merge(boxoffice_df,how="inner",on="movieCd")

In [61]:
len(data_set)

2393

In [62]:
data_set = data_set[["movieCd","movieNm_x","director","openDt","typeNm","repNationNm","repGenreNm","showTm","watchGradeNm","actor_1","actor_2","actor_3","companyNm","star_score","star_user_count"]]

In [63]:
data_set = data_set.merge(final_audience_df,how="inner",on="movieCd")

In [65]:
test_df = data_set["audience"].str.split("(",expand=True,n=1)

In [66]:
test_df.columns=["audience","0"]

In [68]:
data_set["audience"]=test_df["audience"]

In [70]:
data_set = data_set.drop('Unnamed: 0',axis=1)

In [79]:
data_set["audience"] = data_set["audience"].str.replace(",", "")

In [80]:
data_set["audience"] = data_set["audience"].astype(int)

In [88]:
data_set = data_set[data_set["audience"] > 10000]

In [90]:
data_set = data_set.rename(columns={"movieNm_x":"movieNm"})

In [94]:
data_set = data_set.reset_index(drop=True)

In [96]:
data_set.to_csv("data_set.csv",encoding="utf-8")

In [3]:
data_set = pd.read_csv("data_set.csv")

In [34]:
test_set = pd.read_csv("data_set.csv")

In [6]:
data_set.columns

Index(['Unnamed: 0', 'movieCd', 'movieNm', 'director', 'openDt', 'typeNm',
       'repNationNm', 'repGenreNm', 'showTm', 'watchGradeNm', 'actor_1',
       'actor_2', 'actor_3', 'companyNm', 'star_score', 'star_user_count',
       'preview_audience', 'd1_audience', 'd2_audience', 'd3_audience',
       'd4_audience', 'd5_audience', 'd6_audience', 'd7_audience', 'd1_screen',
       'd2_screen', 'd3_screen', 'd4_screen', 'd5_screen', 'd6_screen',
       'd7_screen', 'd1_show', 'd2_show', 'd3_show', 'd4_show', 'd5_show',
       'd6_show', 'd7_show', 'd1_seat', 'd2_seat', 'd3_seat', 'd4_seat',
       'd5_seat', 'd6_seat', 'd7_seat', 'audience'],
      dtype='object')

In [8]:
len(data_set["director"].unique())

1461

In [86]:
print(test_set["showTm"][test_set["showTm"] == 'nan'])

80     nan
956    nan
Name: showTm, dtype: object

In [100]:
test_set["showTm"][956] = "107"

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [141]:
test_set["openDt"] = test_set["openDt"].apply(lambda x: str(x)[4:6])

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [144]:
def month_change(i):
    if i == "01":
        return '1월'
    elif i == '02':
        return '2월'
    elif i == '03':
        return '3월'
    elif i == '04':
        return '4월'
    elif i == '05':
        return '5월'
    elif i == '06':
        return '6월'
    elif i == '07':
        return '7월'
    elif i == '08':
        return '8월'
    elif i == '09':
        return '9월'
    elif i == '10':
        return '10월'
    elif i == '11':
        return '11월'
    else:
        return '12월'

In [145]:
test_set["openDt"] = test_set["openDt"].apply(month_change)

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [146]:
print(test_set["openDt"].unique())

['8월' '6월' '7월' '5월' '2월' '1월' '11월' '3월' '12월' '10월' '4월' '9월']

In [104]:
test_set["showTm"] = test_set["showTm"].astype(str)

In [124]:
test_set["showTm"] = (test_set["showTm"].astype(float)).astype(int)

In [125]:
def time_change(i):
    if i < 90:
        return '-90'
    elif i >= 90 and i < 120:
        return '90-120'
    elif i >=120 and i < 150:
        return '120-150'
    else:
        return '150+'

In [126]:
test_set["showTm"] = test_set["showTm"].apply(time_change)

In [127]:
print(test_set["showTm"].unique())

['90-120' '150+' '120-150' '-90']

In [73]:
def nation_change(i):
    if i == '중국' or i == '홍콩':
        return '중국/홍콩'
    elif i == '아이슬란드' or i == '우크라이나' or i == '체코' or i == '노르웨이' or i == ' 오스트리아' or i == '덴마크' or i == '러시아' or i == '이탈리아' or i == '벨기에' or i == '네덜란드' or i == '스페인' or i == '핀란드' or i == '스웨덴' or i == '스위스' or i == '영국' or i == '프랑스' or i == '헝가리' or i == '독일' or i == '아일랜드':
        return '유럽'
    elif i == '태국' or i == '호주' or i == '캐나다' or i == '페루' or i == '대만' or i == '멕시코' or i == '이스라엘' or i == '뉴질랜드' or i == '아르헨티나' or i == '이란' or i == '남아프리카공화국' or i == '인도네시아' or i == '인도':
        return '기타'
    else:
        return i

In [74]:
test_set["repNationNm"] = test_set["repNationNm"].apply(nation_change)

In [75]:
print(test_set["repNationNm"].unique())

['한국' '미국' '일본' '유럽' '기타' '중국/홍콩']

In [63]:
def genre_change(i):
    if i == '드라마' or i == '멜로/로맨스':
        return 'drama/romance'
    elif i == '전쟁' or i == '액션':
        return 'war/action'
    elif i == '공포(호러)' or i == '미스터리':
        return 'horror/mystery'
    elif i == '범죄' or i == '스릴러':
        return 'crime/thriller'
    elif i == 'SF' or i == '판타지' or i == '어드벤처':
        return 'SF/fantasy/adventure'
    elif i == '애니메이션' or i == '가족':
        return 'family/animation'
    elif i == '코미디':
        return 'comedy'
    elif i == '다큐멘터리':
        return 'documentary'
    elif i == '공연' or i == '뮤지컬':
        return 'performance/musical'
    elif i == '사극' or i == '서부극(웨스턴)':
        return 'historical'
    else:
        return i

In [66]:
print(test_set["repGenreNm"].unique())

['war/action' 'SF/fantasy/adventure' 'drama/romance' 'family/animation'
 'comedy' 'horror/mystery' 'crime/thriller' 'performance/musical'
 'documentary' 'historical']

In [64]:
test_set["repGenreNm"] = test_set["repGenreNm"].apply(genre_change)

In [57]:
def grade_change(i):
    if i == '연소자관람가' or i == "모든 관람객이 관람할 수 있는 등급":
        return '전체관람가'
    elif i == '12세관람가' or i == '국민학생관람불가' or i == '연소자관람불가' or i == '중학생이상관람가' or i == 'nan':
        return '12세이상관람가'
    elif i == '15세관람가' or i == '15세 미만인 자는 관람할 수 없는 등급 ' or i == '고등학생이상관람가':
        return '15세이상관람가'
    elif i == '18세관람가':
        return '청소년관람불가'
    else:
        return i

In [62]:
test_set["watchGradeNm"] = test_set["watchGradeNm"].apply(grade_change)

In [60]:
print(test_set["watchGradeNm"].unique())#[test_set["watchGradeNm"] =="nan"]

['12세이상관람가' '전체관람가' '청소년관람불가' '15세이상관람가']

In [152]:
actor = pd.concat([test_set["actor_1"],test_set["actor_2"],test_set["actor_3"]])

In [158]:
test_set.columns

Index(['Unnamed: 0', 'movieCd', 'movieNm', 'director', 'openDt', 'typeNm',
       'repNationNm', 'repGenreNm', 'showTm', 'watchGradeNm', 'actor_1',
       'actor_2', 'actor_3', 'companyNm', 'star_score', 'star_user_count',
       'preview_audience', 'd1_audience', 'd2_audience', 'd3_audience',
       'd4_audience', 'd5_audience', 'd6_audience', 'd7_audience', 'd1_screen',
       'd2_screen', 'd3_screen', 'd4_screen', 'd5_screen', 'd6_screen',
       'd7_screen', 'd1_show', 'd2_show', 'd3_show', 'd4_show', 'd5_show',
       'd6_show', 'd7_show', 'd1_seat', 'd2_seat', 'd3_seat', 'd4_seat',
       'd5_seat', 'd6_seat', 'd7_seat', 'audience'],
      dtype='object')

In [202]:

for i in test_set.columns[24:45]:
    test_set[i] = test_set[i].str.replace("%","")

/Users/Cho/.pyenv/versions/3.5.1/envs/dss/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [270]:
test_set.to_csv("dataset_preprocessing.csv",encoding="utf-8")

In [207]:
test_set = test_set.drop(['Unnamed: 0','typeNm'],axis=1)

In [210]:
test_set["movieCd"] = test_set["movieCd"].astype(int)

In [217]:
test_set.columns[14:22].dtype

dtype('O')

In [248]:
test_set["preview_audience"] = test_set["preview_audience"].fillna(0)

In [252]:
test_set["preview_audience"] = test_set["preview_audience"].astype(int)

In [260]:
for i in test_set.columns[14:22]:
    test_set[i] = test_set[i].fillna(0)
    test_set[i] = (test_set["d1_audience"].astype(float)).astype(int)

In [227]:
for i in test_set.columns[14:22]:
    print(test_set[i][test_set[i] == 'NaN'])

Series([], Name: preview_audience, dtype: object)
Series([], Name: d1_audience, dtype: object)
Series([], Name: d2_audience, dtype: object)
Series([], Name: d3_audience, dtype: object)
Series([], Name: d4_audience, dtype: object)
Series([], Name: d5_audience, dtype: object)
Series([], Name: d6_audience, dtype: object)
Series([], Name: d7_audience, dtype: object)